<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <a href="/logout">Logout</a>
    <h2>Manage Vehicle Details</h2>
    <a href="/add_vehicle">Add Vehicle</a>
    <a href="/edit_vehicle">Edit Vehicle</a>
    <a href="/delete_vehicle">Delete Vehicle</a>
</body>
</html>
